# ignore all .txt files (* == wild card)
*.txt
C:\Users\zanem\DijjonAlphaDevelopment\DijjonAlphaDevelopment
C:\Users\zanem\DijjonAlphaDevelopment\DijjonAlphaDevelopment
C:\Users\zanem\DijjonAlphaDevelopment\DijjonAlphaDevelopment